body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
}
.main-container{
    display: flex ;
    height: 100vh;
    width: 100vw;
    background-color: rgb(86, 53, 100);
}
.main-card{
    height: 100%;
    width: 50%;
    background-color: #c0557d;
}


.question-div{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    
}
.question-card{
    width: 80%;
    height: 100%;
    margin-top: 20px;
    background-color: rgb(86, 53, 100);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 1.5em;

}


.options-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.options-div{
    margin-top: 20px;
    width: 80%;
    
}
.options-card{
    background-color:#f48fb1;
    padding: 3px;
    margin: 5px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.5em;
}



.options-card:hover{
transform: scale(1.1);
background-color: rgb(4, 167, 4);
}


.options-txt{
    text-align: center;
    color: white;
}
.left-side{
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.heading{
text-align: center;
font-weight: bold;
color: white;
font-size: 3em;
}

.exchange_button{
    width: 30%;
    height: 10%;
    border-radius: 20%;

    background-color:#f48fb1;
    margin: 5em;   
    color: white; 
    
}

.exchange_button:hover{
    background-color: rgb(4, 167, 4);
}




.submit_button{
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: center;
    border-radius: 20%;
    background-color:#f48fb1;
    margin: 5em;    
    color: white; 
}
.submit_button:hover{
    background-color: rgb(4, 167, 4);
}

.one{
    height: 50px;
    margin-left: 10px;
}

.two{
    height: 50px;
}
.right_side{
width: 25%;
height: 100%;
display: flex;
justify-content: center;
flex-direction: column;


}   
.myscore{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #f48fb1;

}
.myscore:hover{
    transform: scale(1.1);
    background-color: rgb(4, 167, 4);
}




.add{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    border-radius: 60%;
    background-color:#f48fb1;    ;
    margin: 1em;    
    color: white; 

}

.add:hover{

    background-color: rgb(4, 167, 4);
    transform: scale(1.1);
}

.add:active{
    transform: scale(1.4);
}

.friends{
    width: 80%;
    margin-left: 30px;
    background-color:#f48fb1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20%;
}

.friends:hover{

    background-color: rgb(4, 167, 4);
    transform: scale(1.1);
}
.friends:active{
    transform: scale(1.4);
}


.friend_span{
    display: flex;
    justify-content: center;
    width: 100%;
}
.friend_name_div{
    width: 60%;
    color: white;
}
.friend_score_div{
    width: 38%;
    color: white;

}
.friend-name-txt{
    text-align: center;
}
.your-details{
    margin: 20px 20px;
    color: white;

}
.first{
    height: 25%;
}
.second{
    height: 50%;
    background-color: teal;
}
.third{
    height: 25%;
    display: flex;
    justify-content: center;

}

.score-details{
    margin: 20px 20px;
    color: white;
   background-color:#f48fb1;
   border-radius: 20%;
   text-align: center;
   font-weight: bold;

}