
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
}
.main-container{
    display: flex ;
    height: 100vh;
    width: 100vw;
    background-color: rgb(86, 53, 100);
}
.main-card{
    height: 100%;
    width: 50%;
    background-color: #c0557d;
}


.question-div{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    
}
.question-card{
    width: 80%;
    height: 100%;
    margin-top: 20px;
    background-color: rgb(86, 53, 100);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}
.question-txt{
    font-size: 2.5em;
    color: white;
    text-align: center;
}

.options-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.options-div{
    margin-top: 20px;
    width: 80%;
    
}
.options-card{
    background-color:#f48fb1;
    padding: 3px;
    margin: 5px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.5em;
}
.options-txt{
    text-align: center;
    color: white;
}
.left-side{
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.heading{
text-align: center;
font-weight: bold;
color: white;
font-size: 3em;
}

.exchange_button{
    width: 20%;
    height: fit-content;
    
    background-color:#b0bec5;
    margin: 5em;   
    color: white; 
    
}


.submit_button{
    width: 20%;
    height: fit-content;
    display: flex;
    justify-content: center;
    border-radius: 60%;
    background-color:#b0bec5;
    margin: 5em;    
    color: white; 
}

.one{
    height: 50px;
    margin-left: 10px;
}

.two{
    height: 50px;
}
.right_side{
width: 25%;
height: 100%;
display: flex;
justify-content: center;
flex-direction: column;


}   
.myscore{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #b0bec5;

}




.add{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    border-radius: 60%;
    background-color:#b0bec5;    ;
    margin: 1em;    
    color: white; 

}

.friends{
    width: 80%;
    margin-left: 30px;
    background-color:#b0bec5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20%;
}
.friend_span{
    display: flex;
    justify-content: center;
    width: 100%;
}
.friend_name_div{
    width: 60%;
    color: white;
}
.friend_score_div{
    width: 38%;
    color: white;

}
.friend-name-txt{
    text-align: center;
}
.your-details{
    margin: 20px 20px;
    color: white;

}
.first{
    height: 25%;
}
.second{
    height: 50%;
    background-color: teal;
}
.third{
    height: 25%;
    display: flex;
    justify-content: center;

}